.App {
  touch-action: manipulation;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px
}
