.TallyRowContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-gap: 3px;
}

.TallyRowElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.TallyRow-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;  
}

.TallyRow-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;  
}
